.App {
  text-align: center;
  /* background-color: red; */
  background-image: linear-gradient(red, #e67e07, #08ecfe, pink);
  height: 100vh;
}
.box {
  width: 350px;
  margin: auto;
}
.box_wrapper {
  padding-top: 150px;
}
.world {
  cursor: pointer;

  background-color: springgreen;
}
.hello {
  background: transparent;
}
button {
  width: 100px;
  height: 100px;
  margin: 5px;
  /* background-color: fuchsia; */
  border: none;
  outline: none;
  font-size: 85px;
}
.msg {
  font-size: 50px;
}
.world:hover {
  background-color: lightskyblue;
  color: salmon;
}
.flex{
  display: flex;
}